/* Resets and colors */
:root {
  --lightblack: #232323;
  --offwhite: #fcfcfc;
  --anchors: #fff;
  --imggreen: #00ce41;
  --cream: #cdcdbb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Helper classes */
.border-ltr {
  /* border, left top right */
  border-left: 1px solid var(--imggreen);
  border-top: 1px solid var(--imggreen);
  border-right: 1px solid var(--imggreen);
}

/* Heading and span colors */
h2,
h3,
span {
  color: var(--imggreen);
}
h1 {
  font-size: 2.4em;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  background-color: var(--lightblack);
  color: var(--offwhite);
}

/* header, nav and profile picture */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  margin-bottom: 6rem;
  /*margin-bottom creates a gap between the header and about-me section*/
}
header nav {
  margin-top: 1rem;
  margin-right: 3rem;
  align-self: flex-end;
}
/* Customising anchor tags */
.nav-links,
.nav-links:visited {
  color: var(--anchors);
  text-decoration: none;
  border-bottom: solid 1px var(--imggreen);
  padding: 0 0.4rem;
  padding-bottom: 0.2rem;
  font-size: 1rem;
  transition: all 0.7s;
  /* the tranision here is an ease-off effect, so that the colors do not change too rapidly */
}
.nav-links:hover {
  cursor: pointer;
  transition: all 0.7s;
  box-shadow: 0 0 9px 4px var(--imggreen);
  border-radius: 12px;
  transform: scale(1.2);
}
/* here I am targeting only the central <a> tag to create margin spacing */
nav a:nth-child(2) {
  margin: 0 1.4rem;
}
.profile-img-container:hover {
  transition: all 0.7s;
  box-shadow: 0 0 200px 1px var(--imggreen);
  transform: scale(1.1);
}
.profile-img-container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/profile_pic_bootcamp.png);
  width: 15rem;
  height: 21rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 2rem;
  align-self: center;
  /* note: bc of flex column, you have to use align option to position items horizontally */
  border-radius: 11px;
  box-shadow: 0 0 10px 1px var(--imggreen);
  transition: all 0.7s;
}
.profile-img-container p {
  color: var(--lightblack);
  align-items: flex-end;
  position: relative;
  top: 19rem;
  background-color: rgb(205, 205, 187, 0.6);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  padding: 0.24rem 0;
  font-size: 1rem;
  font-weight: 600;
}

/* ABOUT ME SECTION */
.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding: 4rem 5rem;
  border-top: #00ce41 1px dashed;
}
.about-me-section p {
  text-align: center;
  margin-top: 1rem;
}

/* MY WORK SECTION */
.my-work-container {
  display: grid;
  grid-template-areas:
    "h h h h h h"
    "c c d d e e";
  grid-area: h;
  order: 3;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 5rem;
  padding: 3rem 0;
  height: 600px;
  max-width: 100%;
  background-image: url(/images/leaves-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Layout for the upcoming projects' thumbnail and description */
.my-work-container h2 {
  grid-area: h;
}
.my-work-card-1 {
  grid-area: c;
}
.my-work-card-2 {
  grid-area: d;
}
.my-work-card-3 {
  grid-area: e;
}

/* my-work-cards are the Placeholder, Coming Soon and <p> placeholder cards under My Work heading */
.my-work-cards {
  border-radius: 11px;
  transition: all 0.7s;
}
.my-work-cards img {
  border: solid 1px var(--imggreen);
  border-radius: 11px;
  overflow: hidden;
}
.my-work-cards:hover {
  box-shadow: 0 0 50px 1px var(--imggreen);
  transition: all 0.7s;
  transform: scale(1.05);
}

/* CONTACT SECTION */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  margin-top: 6rem;
  border-left: #00ce41 1px solid;
  border-right: #00ce41 1px solid;
}
form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
}
label {
  margin-top: 1rem;
}
input {
  border-radius: 9px;
  border: none;
  padding: 0.2rem 1rem;
  margin: 0.1rem 1rem;
  width: 26rem;
  outline: var(--imggreen);
  text-align: center;
}
textarea {
  color: #353535;
  height: 10rem;
  padding: 0.2rem;
  word-wrap: break-word;
  max-width: 27.8rem;
}
button {
  margin: 1rem 10rem;
  padding: 0.2rem;
  border-radius: 9px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  margin: 0 0.8rem;
  margin-top: 6rem;
  border-top: solid 1px var(--imggreen);
  padding: 1rem 0;
}
footer img {
  background-position: center;
  background-size: cover;
  height: 4rem;
  border-radius: 50%;
}
.github-link {
  transition: all 0.7s;
  border-radius: 11px;
}
.github-link:hover {
  transition: all 0.7s;
  box-shadow: 0 0 30px 1px var(--imggreen);
  transform: scale(1.2);
}
